.env
configs/github-app-credentials.yaml
configs/.npmrc
/tmp
dynamic-plugins-root

# User-specific local configuration files
*.local.yaml
*-credentials.yaml
/configs/dynamic-plugins/dynamic-plugins.override.yaml*
compose.override.yaml*

# Local shell scripts in the root folder
*.local.sh 

# Catalog-Entities
/configs/catalog-entities/users.override.yaml
/configs/catalog-entities/components.override.yaml

# Extra-files
/configs/extra-files/*
!/configs/extra-files/github-app-credentials.example.yaml
!/configs/extra-files/lightspeed-stack.yaml
!/configs/extra-files/config.yaml
!/configs/extra-files/rhdh-profile.py
!/configs/extra-files/templates


# Kept for backward compatibility, but now Git-ignored
/configs/app-config.local.yaml
/configs/dynamic-plugins.yaml
/configs/github-app-credentials.example.yaml

# Generated during local development
generated/

**/.DS_Store
.idea
