POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
BASE_URL=http://localhost:7007
RHDH_IMAGE=quay.io/janus-idp/backstage-showcase:next
#RHDH_IMAGE=quay.io/rhdh/rhdh-hub-rhel9:1.2
#NODE_TLS_REJECT_UNAUTHORIZED=true
#AUTH_GITHUB_CLIENT_ID=
#AUTH_GITHUB_CLIENT_SECRET=

