# database connection
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

BASE_URL=https://localhost:7007

# configure images to use
#RHDH_IMAGE=quay.io/janus-idp/backstage-showcase:next
RHDH_IMAGE=quay.io/rhdh/rhdh-hub-rhel9:1.3

# GitHub auth (you need to uncomment github auth section in configs/app-config.local.yaml to enable this)
#AUTH_GITHUB_CLIENT_ID=
#AUTH_GITHUB_CLIENT_SECRET=

NODE_TLS_REJECT_UNAUTHORIZED=0

# use development segment key
SEGMENT_WRITE_KEY=gGVM6sYRK0D0ndVX22BOtS7NRcxPej8t
# uncomment the following line to disable telemetry
#SEGMENT_TEST_MODE=true

# Backstage log level
LOG_LEVEL=debug

# Logs from global-agent to inspect the 'node-fetch' behavior with proxy settings
ROARR_LOG=true

# Logs from fetch.
# Might be useful to inspect the 'fetch' behavior with proxy settings (handled by 'undici', not 'global-agent')
NODE_DEBUG=fetch

# NO_PROXY will take effect only if HTTP(S)_PROXY env vars are set.
# See the compose-with-corporate-proxy.yaml file.
NO_PROXY=localhost,127.0.0.1
